body{
    margin:0;
}

#main{
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    line-height: 1em;
    font-family: 'Darker Grotesque', sans-serif;
    background-color:#B6D8F9;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30vh;
    padding-bottom: 52vh;
    
}

#main_2{
    font-size: 2em;
    line-height: 1em;
    font-family: 'Darker Grotesque', sans-serif;
}

#text_intro{
    text-align: center;
    font-size: 1.6em;
    width: 100%;
    height: 100%;
    
}

#sub-title > p{
    display: inline;
}

#experience{
    margin-top: 5%;
}

.about-me{
    background-color: #9BC3F2;
    padding: 10% 3em 6em 20%;
    line-height: 0.3em;
}

.opener{
    line-height: 1em;
}

.about-me > ul{
    display: inline-block;
    line-height: 1em;
}

.list-heading{
    margin-top: 5%;
    margin-bottom: 0;
}

.list-heading-2{
    margin-left: auto;
    float: right;
    margin-right: auto;
    padding-right: 14%;

}

.about-me-2{
    max-width: 40%;
}

.list_2{
    float: right;
    
}

.about-me-lists{
    max-width: 80%;
    line-height: 1em;
}

.about-me-lists > ul {
    display:inline-block;
}

#experience-section-1{
    background-color:#8CB4E2;
    padding-left: 20%;
    padding-right: 20%;

    padding-top: 5%;
    padding-bottom: 10%;
    
}

#experience-section{
    background-color:#7399C4;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 10%;

}

a{
    color:white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color:black;
    
}

#experience-section > p{
    line-height: 0.9em;
    
    
}

.experience-description{
    margin-top: 1.5em;
}

.experience-role{
    font-weight:900; 
}

.experience-description > p{
    margin-top: -1em;
    font-weight: 200;
}

.experience-title{
    font-weight: 600;
}

.project-description{
    margin-top: -1em;
}

.timeline{
    float: right;
}

.project_links{
    font-weight: 200;
    float:right;
}

.header > li{
    display:inline;
    border: 1px solid black;
    padding: 1em;
    
}

.header{
    position: fixed;
    max-width: 30%;
    margin-left: 38%;
    margin-right: 30%;
}

#contact-me{
    padding: 3em 3em 6em 4em;
    background-color: #4D76A5;
    padding-left: 20%;
}

.contact-me-desc{
    line-height: .3em;
    font-weight: 600;
}

.contact-me-desc > a {
    border: 2px solid #FFF;
    padding: .2em;
}

.contact-me-desc p:nth-child(2){
    margin-bottom: 10%;
}

ul{
    list-style: square;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height:auto;
    margin: 0;
    padding-top:0.1%;
    padding-bottom: 0.1em;
    /* height: 5%; */
    background-color: #4D7FC5;
    color: white;
    text-align: center;
    font-size: 1.6em;
    font-family: 'Darker Grotesque', sans-serif;
}

.footer a{
    text-decoration: none;
    color:white;
}

.footer a:hover{
    text-decoration:underline;
    color:blue;
}

 @media only screen and (max-width: 600px) {
    body {
        overflow: visible;
    }

    .footer{
        position: relative;
    }

    #main{
        padding-bottom: 110%;
    }

    .about-me{
        line-height: 2em;
    }
  }