body{
    margin:0 auto;
    max-width: 90em;
    margin: 5% auto;
    padding: 0%;
    font-family: 'Press Start 2P', cursive;
}

.pokeInfo{
    display: inline-block;
    text-align: left;
    font-size: 0.9vw;
}

.pokeInfo h1{
    text-decoration: underline;
    margin-bottom: 8%;
    
}

#core{
    text-align: center;
}


img{
    
    width: 15%;
    border: 2px solid black;
    margin: 1%;
    /* margin-bottom: 20%; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all .2s ease-in-out;
    
}

img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(2.0); 
}

/* .container{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 3%;
    /* height: 60%; */
    
    /* text-align: center;
} */

.card{
    border: 2px solid black;
    /* width:30% */
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } 

input {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* border: 2px solid black; */
    width: 50%;
    /* display: inline; */
    margin-left: 20%;
    margin-right: auto;
    
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

button{
    font-size: 2em;
}

